.profile {
    display: grid;
    grid-template-columns: 40% 60%;
    .image {
        width: 300px;
        border-left: 1px solid gray;
        overflow: hidden;
        img {
            width: 500px;
            transform: translate(25px);
            filter: contrast(90%) grayscale(20%);
        }
    }
    .intro {
        padding: 0 20px;
        z-index: 100;
        height: 100%;
        position: relative;
        p {
            font-size: 1.2rem;
            line-height: 2rem;
        }
        .contact {
            width: 100px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
        }
    }
}
