.header {
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
    height: 10vh;
    box-shadow: 0px 2px 10px rgba(183, 203, 208, 0.269);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    text-align: center;
    position: sticky;
    .nav {
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 0 10%;
        a:hover {
            color: brown;
        }
    }
}
.content {
    margin: 50px auto;
    max-width: 800px;
    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #f39c12;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 10px;
    }
}
.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 5vh;
    width: 100vw;
    bottom: 0;
    background-color: rgb(188 90 58);
}
